@{
    Layout = "_Layout";
}
<form asp-action="CreatePost">
    Enter your post <br/>   
    <textarea name="message" style="width:600px; height:200px;">
 
</textarea>
    <p>  <img src="/Images/like.png" height="50px"><img src="/Images/dislike.png" height="50px"/></p>
  
 
    
 <br/> 
<input type="submit"></input>
</form>
