@{
    Layout = "_Layout";
}
<form asp-action="CreatePost">
Enter your post <br/>   
<textarea name="message" style="width:600px; height:200px;">
    The cat was playing in the garden.
    </textarea>
 <br/> 
<input type="submit"></input>
</form>
