@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}
<form method="post" action="create">
    Enter your post <br/>   
    <textarea name="Message" style="width:600px; height:200px;">
 
</textarea><br/>
    <input type="text" name="ImageUrl" />
<input type="hidden" name="UserId" value="1"/>
  
 
    
 <br/> 
<input type="submit"></input>
</form>
