@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
    
      



}
<a  asp-controller="Posts" asp-action="CreatePostPage">Create a new post</a>
<h1>MyFace Posts  </h1>
<script type="text/javascript">let currentDate=new Date();document.write( currentDate.getDate()+"-"+currentDate.getMonth()+"-"+currentDate.getFullYear());</script> 
<section>
  @{
      foreach (var post in Model.Posts)
      {
          <article>
              <h2>Posted By @post.Message</h2>
              <p> Para 1</p>
          </article>
      }
  }
</section>







