* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1{
    color:steelblue;
    text-align: center;
    margin-top: .5rem;
}

li{
    padding: 10px;
    color: white;
}

img {
    max-width: 95vw;
    max-height: 50vh;
}

nav {
    background-color: navy;
    color:white;
    height: 60px;
}

footer{
    position: sticky;
}
.myface-banner{
    display: flex;
    list-style-type: none;}

.myface-a {
  
    color: white;
}
.myface-body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.myface-createbtn{
    background-color: blue;
    color: white;
    padding:10px;
}
.posts-menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 1rem;
}

.posts-menu a{
    margin-left: 1rem;
}

.post-container {
    text-align: center;
    
}

.post-container p{
    text-align: center;
    padding-bottom: .5em;
    
}
.posts-container{
    display:inline;
}
.post-likes {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: .5rem;
}

.likes-image {
    width: 40px;
    height: auto;
}


@media (min-width: 375px) {
    img {
        max-width: 70vw;
    }
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
   
}
.modal-header {
    padding: 2px 16px;
    background-color: rgb(0,128,157);
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}