* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: block;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000000;
   color:#b6666f;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: .75em;
    background: #e4c2c1;
   
}
div{
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
}

h1{
    color:#000000;
    text-align: center;
    margin-top: .5rem;
    font-size: 1.5rem;
}

li{
    padding: 10px;
 
  
}

li a:hover{
    background-color: rgba(254, 197, 30, 0.67);
}
img {
    max-width: 80vw;
    max-height: 40vh;
}

nav {
  
   
    height: 60px;
    width: 100%;
  
   
}
nav ul li:first-child { float: left; }
nav ul li {
    list-style:none;
   
    float: right;
 
}
li{
    color:#e4c2c1;
}

footer{
    position: sticky;
}

.logoFont{
    font-family: 'Kaushan Script';
    font-size: 2em;
    margin-top: .65rem;
    margin-left: 0.3em;
    justify-content: flex-start;
    color: #b6666f;
}
.myface-banner{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: flex-end;
    margin:0;
  
    font-size: 1.5em;
    color:#e4c2c1;
}

.nav-brand {
    font-size: 1.75em;
    font-weight: bolder;
  
}

.nav-item {
    margin-top: .65rem;
    display: flex;
    flex-flow: row wrap;
  
    font-size: 1.25em;
} 
.myface-body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.myface-createbtn{
    background-color: blue;
    color: white;
    padding:10px;
}
.posts-menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1em;
}

.posts-menu a{
    margin-left: 1rem;
    background-color: #FA255E;
    padding: .3rem;
    border-radius: .5rem;
    font-weight: bold;
    color:#000000;
}

.posts-menu a:hover{
    background-color: rgba(162, 254, 70, 0.67);
}

.post-container {
    background-color: #FEF2F2;
    text-align: center;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: .5rem;
}

.post-container p{
    text-align: center;
    padding-bottom: .5em;
    
}

.posts-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.post-likes {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: .5rem;

    
}

.likes-image {
    width: 20px;
    height: 20px;
    margin-left:1rem;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
   
}
.modal-header {
    padding: 2px 16px;
    background-color: rgb(0,128,157);
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.blueband{
    background-color: #b6666f;
    height: 20px;
}
.buttonclass{

 
    margin-left: 1rem;
    background-color: #FA255E;
    padding: .3rem;
    border-radius: .5rem;
    font-weight: bold;
}
.navbarcolor{
    color:#b6666f;
}